<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kss_ScaleReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kss_ScaleReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kss_ScaleReport.Properties.Settings>
            <setting name="cnnReportsCAS" serializeAs="String">
                <value />
            </setting>
            <setting name="cnnPOS" serializeAs="String">
                <value />
            </setting>
            <setting name="cnnDataCAS" serializeAs="String">
                <value />
            </setting>
            <setting name="dirCAS" serializeAs="String">
                <value />
            </setting>
            <setting name="dirCASData" serializeAs="String">
                <value />
            </setting>
            <setting name="dirApp" serializeAs="String">
                <value />
            </setting>
            <setting name="dirAppData" serializeAs="String">
                <value />
            </setting>
        </Kss_ScaleReport.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Kss_ScaleReport.Properties.Settings>
            <setting name="lastCASTicket" serializeAs="String">
                <value />
            </setting>
            <setting name="lastCASCodigoBarras" serializeAs="String">
                <value />
            </setting>
            <setting name="lastPOSPedido" serializeAs="String">
                <value />
            </setting>
        </Kss_ScaleReport.Properties.Settings>
    </userSettings>
</configuration>